{% if page.layout == 'post' and page.type != 'page'%}
  <div id="breadcrumbs">
    <h2>
      <a href="{{ site.baseurl }}/">greve geral</a> <span class="breadcrumbs-separator">»</span>
      <a href="{{ site.baseurl }}/acoes">ações</a> <span class="breadcrumbs-separator">»</span>
      {{ page.title }}
    </h2>
  </div>
{% else %}
  <div id="breadcrumbs">
    <h2><a href="{{ site.baseurl }}/">greve geral</a> <span class="breadcrumbs-separator">»</span> {{ page.title }}</h2>
  </div>
{% endif %}
