<Lula Livre>{{site.title}} - {{page.title}}</title>

<meta name="description" content="Informação e conteúdo sobre a Jornada Lula Livre. {{ page.description }}">
<meta name="keywords" content="Lula Livre, jornada lula livre, Lula preso 1 ano, reforma da previdência, reforma trabalhista, terceirização, meme, memes, lambe, organização, eventos{{ page.keywords }}">
<meta charset="utf-8">

{% if page.permalink contains 'quem-participa' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
{% endif %}

<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/favicons/favicon.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
