@font-face {
  font-family: 'myFont';
  src: 
    url('../assets/fonts/myfont.otf')
    format('opentype');
}

@font-face {
  font-family: 'myFont';
  src: 
    url('../assets/fonts/myfont-bold.otf')
    format('opentype');
  font-weight: bold;
}
