<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div id="main-div">
      {% include share-section.html %}
      <div class="section" id="title-section">
        <h2>{{ page.title }}</h2>
        <h2>28 / 04 / 2017</h2>
      </div>
      <hr class="section-separator">
      <div class="section" id="links-section">
        {% for mpage in site.pages %}
          {% if mpage.home %}
            {% assign slug = mpage.url | downcase | replace: '/', '' %}
            {% assign image = site.baseurl | append: '/assets/covers/01-DireitoPrevidenciario.jpg' %}
            {% for file in site.static_files %}
              {% if file.path contains slug and file.extname == '.jpg' %}
                {% assign image = site.baseurl | append: file.path %}
                {% break %}
              {% endif %}
            {% endfor %}
            <a href="{{ site.baseurl }}{{ mpage.url }}" class="link-item">
              <img src="{{ image }}">
              <h2>{{ mpage.title }}</h2>
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <hr class="section-separator">
      <div class="section" id="map-section">
        <h2>Encontre o evento mais próximo de você e participe</h2>
        <div class="map-wrapper">
          <iframe src="https://www.google.com/maps/d/embed?mid=1gdJJKpcTbpNb2rukMke47cAiq78" width=100% height=100%></iframe>
        </div>
      </div>
      <hr class="section-separator">
      <div class="section" id="contact-section">
        <h2>Quem Somos</h2>
        <p>{{ page.content }}</p>
        <h2>Colabore</h2>
        <div id="social-section">
          <a class="social-item link-item" href="mailto:grevegeral@grevegeral.org">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a>
          <a class="social-item link-item" href="https://www.facebook.com/GreveGeral-758484700985102/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a class="social-item link-item" href="https://twitter.com/28temGreveGeral" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
