<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include analytics.html %}
  </head>
  <body>
    <div id="main-div">
      {% include share-section.html %}
      <div class="section" id="title-section">
        <h2>{{ page.title }}</h2>
        <h2>28 / 04 / 2017</h2>
      </div>
      <hr class="section-separator">
      <div class="section" id="links-section">
        {% for mpage in site.pages %}
          {% if mpage.home %}
            {% assign slug = mpage.url | downcase | replace: '/', '' %}
            {% assign image = site.baseurl | append: '/assets/covers/01-DireitoPrevidenciario.jpg' %}
            {% for file in site.static_files %}
              {% if file.path contains slug and file.extname == '.jpg' %}
                {% assign image = site.baseurl | append: file.path %}
                {% break %}
              {% endif %}
            {% endfor %}
            <a href="{{ site.baseurl }}{{ mpage.url }}" class="link-item">
              <img src="{{ image }}">
              <h2>{{ mpage.title }}</h2>
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <hr class="section-separator">
      <div class="section" id="map-section">
        <h2>Encontre o evento mais próximo de você e participe</h2>
        <div class="map-wrapper">
          <iframe src="https://www.google.com/maps/d/embed?mid=1gdJJKpcTbpNb2rukMke47cAiq78" width=100% height=100%></iframe>
        </div>
      </div>
      <hr class="section-separator">
      <div id="embed-twitter">
        <a class="twitter-timeline"  href="https://twitter.com/search?q=%23GreveGeral%20list%3A28temGreveGeral%2Fgreve-geral" data-partner="tweetdeck"data-widget-id="856970640355721217">#GreveGeral</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <!--
      <hr class="section-separator">
      <div class="section" id="participants-section">
        <h2>Quem Vai Parar</h2>
        <p>
          A greve está sendo convocada por oito centrais sindicais, que juntas representam mais de 10 milhões de trabalhadores:
          <a href="http://cut.org.br/noticias/cut-divulga-materiais-sobre-reformas-que-destroem-direitos-trabalhistas-7431/" target="_blank">CUT</a>,
          <a href="http://ctb.org.br/site/especial-abril-de-lutas" target="_blank">CTB</a>,
          <a href="http://www.ugt.org.br/index.php/post/16347-Nenhum-direito-a-menos" target="_blank">UGT</a>,
          <a href="http://www.fsindical.org.br/forca/convocacao-geral" target="_blank">Força Sindical</a>,
          <a href="http://csb.org.br/blog/2017/04/05/csb-convoca-sindicatos-trabalhadores-e-sociedade-para-paralisacoes-no-dia-28-de-abril/" target="_blank">CSB</a>,
          <a href="http://www.ncst.org.br/subpage.php?id=19709_24-04-2017_ncst-intensifica-chamado-para-28-04" target="_blank">NCST</a>,
          <a href="http://cspconlutas.org.br/2017/04/comites-de-base-preparam-greve-geral-do-dia-28-de-abril/" target="_blank">Conlutas</a>
           e CGTB.
        </p>
        <p>
          <a href="quem-participa/">Veja quais sindicatos vão aderir à greve do dia 28 de Abril</a>.
        </p>
      </div>
      -->
      <hr class="section-separator">
      <div class="section" id="contact-section">
        <h2>Quem Somos</h2>
        <p>
          Somos um grupo de jovens trabalhadores e trabalhadoras que não quer morrer trabalhando. Contribua enviando ideias, atos e açoes para: <a href="mailto:grevegeral@grevegeral.org">grevegeral@grevegeral.org</a>
        </p>
        <h2>Colabore</h2>
        <div id="social-section">
          <a class="social-item link-item" href="mailto:grevegeral@grevegeral.org">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a>
          <a class="social-item link-item" href="https://www.facebook.com/GreveGeral-758484700985102/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a class="social-item link-item" href="https://twitter.com/28temGreveGeral" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
