<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include analytics.html %}
  </head>
  <body>
    <div id="main-div">
      {% include share-section.html %}
      <div class="section" id="title-section">
        <a href="{{ site.baseurl }}/"><h2>{{ site.title }}</h2></a>
        <h2>{{ page.title }}</h2>
      </div>
      <hr class="section-separator">

      {% include breadcrumbs.html %}

      <div id="list-container">
        {% assign slug = page.title | downcase %}
        {% assign coverTypes = ".jpg,.gif" | split: ',' %}

        {% for rawFile in site.static_files %}
          {% if rawFile.path contains slug %}
            {% assign image = site.baseurl | append: '/assets/covers/grevegeral_sq.jpg' %}
            {% for coverFile in site.static_files %}
              {% if coverFile.basename == rawFile.basename and coverTypes contains coverFile.extname %}
                {% assign image = site.baseurl | append: coverFile.path %}
              {% endif %}
            {% endfor %}
            <a href="{{ site.baseurl }}{{ rawFile.path }}" target="_blank">
              <img src="{{ image }}">
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
