<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include analytics.html %}
  </head>
  <body>
    <div id="main-div">
      {% include share-section.html %}
      <div class="section" id="title-section">
        <a href="{{ site.baseurl }}/"><h2>{{ site.title }}</h2></a>
        <h3>{{ page.title }}</h3>
      </div>
      <hr class="section-separator">
      <div class="section" id="content-section">
        <p>{{ page.content }}</p>
      </div>
    </div>
  </body>
</html>
